@import 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css';

h2 {
	display: inline-block;
	vertical-align: top;
}
.useful-links {
	display: inline-block;
	
}

#omnibar-ccz > div {
    margin: .5rem 0;
}
