@import 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css';

h2 {
	display: inline-block;
	vertical-align: top;
}
.useful-links {
	display: inline-block;
	
}
label {
	width: 15%;
	display: inline-block;
}
.select-div label {
    width: 20%;
}
.select-div select {
    width: 300px;
}

.select-div {
	margin: .5rem 0;
}

.saveFooter {
	margin-top: 1rem;
}